.benefits {
  padding-top: 60px;
  @media screen and(min-width:1200px) {
    padding-top: 94px;
    padding-bottom: 47px;
  }
}

.benefits-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.benefits-list__item {
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.benefits-list__item:not(:last-child) {
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.benefits-list__title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.benefits-list__icon-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--primary-bg-color);
}

.benefits-list__content {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
