.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-contact-list__map {
  // display: block;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: #ffffff;
  letter-spacing: 0.03em;

  @media screen and(min-width:1200px) {
    display: block;
  }
}

.footer-contact-list__mail {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing: 0.03em;
  // &:hover,
  // &:focus {
  //   color: var(--accent-color);
  // }
}
.footer-contact-list__tel {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing: 0.03em;
  // &:hover,
  // &:focus {
  //   color: var(--accent-color);
  // }
}

.footer-container {
  text-align: center;

  @media screen and(min-width:1200px) {
    display: flex;
    align-items: baseline;
  }
}

.footer__contact {
  @media screen and(min-width:1200px) {
    margin-right: 70px;
  }
}
.footer-contact-list {
  margin-bottom: 60px;
}

.footer-wrap {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-left: 76px;
    padding-right: 89px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    margin-bottom: 0;
  }
}
