.header {
  background-color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid #ececec;

  @media screen and (min-width: 768px) {
    padding: 0;
  }
}

.header {
  & .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header-nav {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

.header-list {
  display: flex;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header-list__nav-item {
  position: relative;
  margin-right: 50px;
  &:last-child {
    margin: 0;
    & .current::after {
      content: "";
      position: absolute;
      display: flex;
      justify-content: center;
      bottom: -1px;
      left: 0px;
      width: 100%;
      height: 4px;
      background-color: var(--accent-color);
      border-radius: 2px;
    }
  }
}

.header-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.19;
  letter-spacing: 0.02em;
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.current {
  color: var(--accent-color);
  .header-list__nav-item &::after {
    content: "";
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: -1px;
    left: 0px;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

.contact-list {
  display: flex;
  flex-direction: column;
  padding: 14px 0;
  transition: color var(--time-aniamtion) var(--cubic-bezier);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}
.contact-list__item {
  display: flex;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-right: 50px;
    &:last-child {
      margin: 0;
    }
    // flex-direction: row;
    // align-items: center;
    // padding: 0;
  }
}

.contact-list__link {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.19;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover .contact-list__icon,
  &:focus .contact-list__icon {
    fill: var(--accent-color);
  }

  // @media screen and (min-width: 1200px) {
  //   padding: 32px 0;
  // }
}

.contact-list :hover,
.contact-list :focus {
  color: var(--accent-color);
}

.contact-list__icon {
  vertical-align: middle;
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .contact-list__item:hover &,
  .contact-list__item:focus & {
    fill: var(--accent-color);
  }
}

.menu-open,
.menu-close {
  line-height: 0;
  background-color: transparent;
  border: none;
  padding: 10px 0;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

@media screen and (min-width: 767px) {
  .menu-open {
    display: none;
  }
}

.menu-close {
  position: absolute;
  right: 25px;
  top: -37px;
}

.menu-mob {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  background-color: #ffffff;
}

.menu-mob-container {
  position: relative;
  height: 100%;
  max-width: 480px;
}

.menu-mob-list__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.menu-mob-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  text-align: center;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.menu-contacts-list__list {
  margin-bottom: 64px;
}

// @media screen and (max-width: 767px) {
// .menu-contacts-list {
// display: none;
// }
// }

@media screen and (min-width: 1200px) {
  .menu-contacts-list__list {
    flex-direction: row;
    align-items: center;
    padding: 0;
  }
}

.menu-contacts-list__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .menu-contacts-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.menu-contacts-list__link {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .menu-contacts-list__link {
    padding: 32px 0;
  }
}

.menu-contacts-list__tel-link {
  font-size: 34px;
  line-height: calc(40 / 34);
}

.menu-social-list {
  display: flex;
}

.menu-social-list__item {
  &:not(:last-child) {
    margin-right: 10px;
    .menu-social-link {
      border-right: 1px solid rgba(33, 33, 33, 0.2);
      padding-right: 10px;
    }
  }
}

.menu-social-list__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196f3;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.mob-menu-bottom {
  position: absolute;
  bottom: 0;
}

.menu-mob.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .menu-mob {
    display: none;
  }
}
