.team {
  max-width: 100%;
  height: auto;
  background-color: #f5f4fa;
  margin-top: 60px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
  }
}
.team__name {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__title {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
}

.team__title-eng {
  text-align: center;
  margin-bottom: 16px;
}

.team__item {
  width: 100%;

  height: auto;
  border: 1px solid #eeeeee;
  background-color: #ffffff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 0px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
  }
}
