.site__logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.site__logo--right {
  color: #000000;
}

.site__logo--bright {
  color: var(--accent-color);
  // font-family: Raleway;
  // font-weight: 700;
  // font-size: 26px;
  // line-height: 1.19;
}

.site__logo--bottom {
  // display: block;
  margin-bottom: 20px;
  color: #ffffff;
  display: flex;
  justify-content: center;
}
