.socials-list__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}

.socials-list {
  display: flex;
  justify-content: center;
}

.socials-list__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.socials-list__link--light {
  background-color: #ffffff;
}
.socials-list__link--dark {
  background-color: rgba(255, 255, 255, 0.1);
}

.socials-list__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .socials-list__link:hover &,
  .socials-list__link:focus & {
    fill: #ffffff;
  }
}

.socials-list__icon--dark {
  fill: #afb1b8;
}

.socials-list__icon--light {
  fill: #ffffff;
}
.footer-socials-box {
  margin-right: 91px;
}
.footer-socials-title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
