.subscribe {
  margin-left: auto;
}

.subscribe__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe__form {
  margin-top: 20px;
}

.subscribe__input {
  width: 100%;
  height: 50px;
  color: var(--accent-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  margin-bottom: 20px;

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }
  @media screen and (min-width: 768px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 12px;
    margin-bottom: 0;
    width: 358px;
  }
}

.subscribe__button {
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 28px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 0;
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
  @media screen and (min-width: 768px) {
    display: flex;

    margin: 0 auto;
  }
  @media screen and (min-width: 1200px) {
    display: inline-flex;
  }
}

.subscribe__icon {
  margin-left: 10px;
  fill: #ffffff;
}
